<%= div_for(comment, class: "group problem-comment") do %>
<div class="media s-container">
  <a class="media-left" href="">
    <%= render_comment_avatar(comment.user, :small) %>
  </a>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-subhead-2"><%= render_user_name(comment.user) %> <span class="text-caption text-light">- <%= time_ago_in_words(comment.created_at) %></span></div>
        <p><%= render_comment_content(comment) %></p>
      </div>
      
    </div>
  </div>
</div>
<% end %>
<br>