<div class="testimonial">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render_solution_content(solution) %>
      <div class="pull-right">
        by <%= render_user_avatar(solution.user, :tiny) %> <%= render_user_name(solution.user) %> <i class="fa fa-clock-o fa-fw"></i> <%= time_ago_in_words(solution.created_at) %>
      </div>
    </div>
  </div>
  
  <div class="group">
    <br>
    <%= render :partial => "solutions/solution_comments", :locals => { :solution => solution } %>
    <%= render :partial => "solutions/solution_comment_form", :locals => { :solution => solution } %>
  </div>
  
</div>

