<div class="group">

  <div class="group">

    <%= render_user_avatar(solution.user, :small) %>   <%= render_user_name(solution.user) %> 
    <div class="pull-right">
      <%= render_solution_edit_link(solution, current_user) %>
    </div>
  </div>

  <div class="group">
    <h4> <%= render_solution_title(solution) %> </h4>
     <%= render_solution_content(solution) %>
  </div>
  <div class="pull-right">

    <i class="fa fa-clock-o fa-fw"></i> <%= time_ago_in_words(solution.created_at) %>
    <%= link_to("Leave comments", "#", :class => "underline") %>
  </div>     
  <div class="group">
    <br>
    <%= render :partial => "solutions/solution_comments", :locals => { :solution => solution } %>
    <%= render :partial => "solutions/solution_comment_form", :locals => { :solution => solution } %>
  </div>
  
</div>