<div class="testimonial">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render_solution_content(solution) %>

    
    </div>
  </div>
  <div class="media v-middle">
    <div class="media-left">
      <%= render_user_avatar(solution.user, :small) %>
    </div>
    <div class="media-body">
      <p class="text-subhead margin-v-5-0">
        <strong>
          <%= render_user_name(solution.user) %> <span class="text-muted">@ <%= render_user_company(solution.user) %> </span>
        </strong>

      </p>
    </div>
  </div>

  <div class="group">


    <br>
  <%= render :partial => "solutions/solution_comments", :locals => { :solution => solution } %>
  <%= render :partial => "solutions/solution_comment_form", :locals => { :solution => solution } %>


  </div>
</div>
