<div class="page-section">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div class="page-section padding-top-none">
        <div class="s-container">
          <h1 class="text-display-1 margin-top-none"><%= @problem.title %></h1>
          <p class="text-light text-caption">
            posted by
            <a href="#">
              <%= render_user_avatar(@problem.user, :tiny) %>
              <%= render_user_name(@problem.user) %>
            </a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> <%= time_ago_in_words(@problem.created_at) %>
          </p>
        </div>
        <div class="group">
          <h3> What's the problem? </h3>
          <%= render_problem_description(@problem) %>
        </div>
        <div class="group">
          <h3> Why it happens? </h3>
          <%= render_problem_description(@problem) %>
        </div>
      </div>

      <%= render "solutions" %>

      <%= render "comments" %>
      <%= render :partial => "problems/problem_comment_form" %>
    </div>
    <%# render :partial => "sidebar" %>
  </div>
</div>