<h1> <%= @problem.title %> </h1>

<hr>


<h3> What's the problem? </h3>

<hr>

<div class="well">

  <%= render_problem_description(@problem) %>
</div>


<h3> Why it happens? </h3>
<hr>
<div class="well">

  <%= render_problem_description(@problem) %>
</div>


<h3> How can we improve : </h3>
<hr>

<%= link_to("propose solution", new_problem_solution_path(@problem)) %>

<%= render :partial =>  "problems/solution", :collection => @problem.solutions, as: :solution  %>

<h3> Discussions </h3>

<hr>