

<%= div_for(comment, class: "group list-group-item ", :style => "") do %>
    <%= render_comment_avatar(comment.user, :tiny) %>
    <%= render_user_name(comment.user) %>
    <%= render_agree_level(comment) %>
    <p style="padding: 2px;">
        <%= render_comment_content(comment) %>
    </p>
    <div class="pull-right">
        <%= time_ago_in_words(comment.created_at) %> 
        <%= render_comment_edit_link(comment, current_user) %>
    </div>

<% end %>
